
body{
    margin: 0;

}

header{
    background-color: #385170;
    color: #ececec;

    padding: 10px;
    text-align: center;
}

.container{

    display: grid;
    grid-template-columns: 400px 1fr;
    column-gap: 10px;
}


.descripcion, .contenido{
    background-color: red;
}
