
body{
    margin: 0;

}

header{
    background-color: #385170;
    color: #ececec;

    padding: 10px;
    text-align: center;
}

.container{

    display: grid;
    grid-template-columns: 400px 1fr;
    
}


.descripcion{
    background-color: #ececec;
}

.contenido{
    background-color: #ececec;
    text-align: justify;
    font-size: 23px;
}
footer{
    background-color: #142d4c;
    padding: 10px;
    text-align: center;
    color: #ececec;
    font-size: 23px;
}
